<template>
    <div class="dictionary">
        <!-- conditional if DOM element -->
        <div v-if="spanishWordData==undefined" class="flex" id="dictionary">
        Retrieving Word of the Day
        </div>

        <!-- conditional else DOM element -->
        <div v-else class="flex" id="dictionary">
            

            <!-- Form -->
            <div class="flex-item" id="form">
                <h2>English to Spanish Dictionary</h2>
                <input class="mt-4" placeholder="Translate a Word!" type='text' autocomplete='off' id='word' v-on:keyup.enter='get_data(nextWord)' v-model='nextWord'>
                <input type='button' value='Submit' @click='get_data(nextWord)'>
            </div>
            <!-- /#Form -->

            <!-- Begin translated words -->
            <div v-if="spanishWordData==undefined"></div>
            <div v-else class="flex-item">
                <div v-for="item in spanishWordData" :key="item.spanishWordData" id="words">
                    <br>
                    <h4 class='english'> {{ item.hwi.hw }} </h4> 
                    <small> {{item.fl}}</small><br>  
                    <ul class='spanish' v-for="def in item.shortdef" :key="def.spanishWordData">           
                        <li> {{ def }}</li>
                    </ul>
                </div>
            </div>
            <!-- /# End translated words -->

        </div>
    </div>
</template>

<script>
export default {
    name: 'Dictionary',
    data() {
        return {
            spanishWordData: {},
            nextWord: "",
            spanishAPIKey: "15db80d0-3ded-4555-a174-5db59fb25e1a"
        }
    },
    methods: {
        get_data: function() {
            fetch('https://dictionaryapi.com/api/v3/references/spanish/json/'+this.nextWord+'?key='+this.spanishAPIKey)
                .then(response => response.json())
                .then(json => {
                    this.spanishWordData = json;
                    console.log(this.spanishWordData);
                });
        }
    },
    created() {
        this.get_data();
    }
    
}
</script>

<style scoped>
small {
    font-size: 1rem;
    font-style: oblique;
}
.english {
    display: inline;
    margin: 10px;
}
.spanish {
    margin: 0;
}
#dictionary {
    background:  #88d8b0;
    font-size: 2rem;
    border-radius: 50px;
    border: solid black;
    text-align: center;
}

#form {
    text-align: center;
    margin: 10vh
}
</style>