<template>
    <div class="weather">
        <!-- Here is the Weather conditions area -->
            <div v-if='locationData==undefined || weatherData==undefined' class="flex">
                <p>---Getting weather data---</p>
            </div>
            <div v-else class="flex" id="weather">
                <div class="flex-item" id="location">
                    <h2>Current Weather Conditions</h2>
                    <h3>{{ locationData.city }}, {{locationData.region_name}} {{locationData.zip}}</h3>
                </div>
                
                <ul class="flex-item">
                    <li>{{ weatherData.main.feels_like.toFixed() }} &#8457;</li>
                    <li>{{weatherData.weather[0].description}}</li>
                    <li>High {{ weatherData.main.temp_max.toFixed() }}&#8457;</li>
                    <li>Low {{ weatherData.main.temp_min.toFixed() }}&#8457;</li>
                    <li>Wind {{weatherData.wind.speed.toFixed()}} MPH</li>   
                </ul>
            </div>
    </div>
</template>

<script>
export default {
    name: 'Weather',
    props: {
    },
    data() {
        return {
            weatherAPIkey: "4ca4d3d1786bec303f31e247fd71eb71",
            locationAPIkey: "5be1480126a2b34091f049f3878150b3",
            locationData: undefined,
            weatherData: undefined,
        }
    },
    methods: {
        get_data: function() {
            fetch('http://api.ipstack.com/check?access_key='+this.locationAPIkey)
                .then(response => response.json())
                .then(json => {
                    this.locationData = json;
                    console.log(this.locationData);
                return fetch("http://api.openweathermap.org/data/2.5/weather?lat="+this.locationData.latitude+"&lon="+this.locationData.longitude+"&units=imperial&appid="+this.weatherAPIkey);
                })
                .then(response => response.json())
                .then(json => {
                    this.weatherData = json;
                    console.log(this.weatherData);
                });
        }
    },
    mounted() {
        this.get_data();
    }

}
</script>

<style scoped>
ul {

}
#weather{
    background: #ff6e69a6;
    border-radius: 50px;
    border: solid black;
}
#weather, #location {
    text-align: center;
}
#location, .flex-item {
    margin: 10px;
}
#weather, ul {
    font-size: 2rem;
    list-style: none;
}

</style>