<template>
  <div id="app">
    <!-- <img alt="Vue logo" src="./assets/logo.png"> -->
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
    <Weather />
    <Dictionary />
  </div>
</template>

<script>
import Dictionary from './components/Dictionary.vue'
// import HelloWorld from './components/HelloWorld.vue'
import Weather from './components/Weather.vue'

export default {
  name: 'App',
  components: {
    // HelloWorld,
    Weather,
    Dictionary
  }
  
}
</script>

<style>
html {
	overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;    
}

html, body {
    background: #ffeead;
    margin: 10px;
    align-self: center;
}
body {
    margin-bottom: 10vh;
}

a {
    color: #ffeead;
    text-decoration: none;
}

.app > div {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #ffeead;    
    border-radius: 25px;
    border: solid black;
}

.flex {
    display: flex;
    padding: 5px;
    margin-top: 10px;
    min-width: 200px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-item {
    flex: 1 1 400px;
    width: 50%;
    height: fit-content;

    text-align: left;
}

</style>
